# Python Web framework
Django==1.11.4

# Strict separation of settings from code
python-decouple==3.0

# Use database URLs in Django applications
dj-database-url==0.4.2

# Ease path/files operations
Unipath==1.1

# PostgreSQL adapter for the Python
psycopg2==2.7.3

# Plugin for pytest that provides a set of useful tools for testing Django applications
pytest-django==3.1.2

# Static file serving for Python web apps
whitenoise==3.3.0

# Python WSGI HTTP Server
gunicorn==19.7.1
